.titleText{
        margin-bottom: -2px;
        text-align: center;
        font-size: large;
        font-family: fantasy;
        color: rgb(82, 0, 0);
    }
.movieThumbnail{
        margin-bottom: 2em;
        width: 150px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        height: fit-content;
        align-items: left;
}

.selector{
        word-wrap: normal;
        margin-top: auto;
        text-decoration: solid;
        font-size: large;
        font-weight: bold;
        align-self: center;
        text-align: center;
        text-decoration: solid;
        font-size: large;
        align-items: center;

}





        